/* 
 * Everything in here can be changed, 
 * except the format of the card! 
 * 
 * Card-Format: 910px * 590px
 */

.card {
  /* mimicks a quartet card game card size */
  width: 430px;
  height: 665px;
  background-color: red; 
  
  /* centering it */
  margin: 10px auto;

  /* makes the appearance look more like a card, up to you to change */
  border-radius: 10px;
}


h1 {
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  color: #ffee00;
  font-size: 26px;
  text-align: left;
  letter-spacing: 1px;
  text-shadow: 2px 1px 5px  #ef42ff;
  line-height: 7px;
  padding-left: 15px;
}


h2 {
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  color: #ffee00;
  font-size: 12px;
  text-align: left;
  letter-spacing: 1px;
  text-shadow: 2px 1px 5px  #ef42ff;
  line-height: 12px;
  padding-left: 5px;
}

h5 {
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  color: #ffee00;
  font-size: 18px;
  text-align: left;
  letter-spacing: 1px;
  text-shadow: 2px 1px 5px  #ef42ff;
  padding-left: 9px;
  position: relative;
  bottom: 25px;
}
p {
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  color:  violet;
  font-size: 13px;
  text-align: left;
  letter-spacing: 0.2px;
  line-height: 125%;
  padding-left: 15px;
  padding-right: 20px;
  padding-top: 12px;
  
}

h3 {
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  color:black; 
  font-size: 10px;
  text-align: center;
  letter-spacing: 0.2px;
  line-height: 12px;
  position: relative;
  bottom: 6px

}
h4 {
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  color: #ffee00;
  font-size: 20px;
  text-align: left;
  letter-spacing: 0.2px;
  text-shadow: 1px 1px 5px #ef42ff;
  padding-left: 15px;
  line-height: 24px;
  position: relative;
  bottom: 18px
}

.inhalt img {
  width: 95%;
  margin: 0px auto 20px auto;
  display: block;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  box-shadow:  2px 2px 15px #370075;
  
  /* centering it */
  position: relative;
  top: 8.5%;
  
  /* makes the appearance look more like a card, up to you to change */
  border-radius: 15px;

}

.inhalt {
  width: 95%;
  height: 97%;
  background-color: blue;
  
  
  /* centering it */
  position: relative;
  left: 2.5%;
  top: 1.5%;

  
  /* makes the appearance look more like a card, up to you to change */
  border-radius: 10px;
} 


.titel {
  width: 95%;
  height: 6%;
  background-color: cover;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  box-shadow:  2px 2px 15px #370075;
  
  /* centering it */
  position: absolute;
  top:1.25%;
  left: 2.5%;
  
  /* makes the appearance look more like a card, up to you to change */
  border-radius: 20px;
}
.titel:hover {
  transform: rotate(180deg);
}
.infoblock {
  width: 95%;
  height: 22%;
  background-color: rgb(255, 255, 255, 0.7);
  box-shadow:  2px 2px 15px #370075;
  
  /* centering it */
  position: relative;
  left: 2.5%;
  top: 21%;
  
  /* makes the appearance look more like a card, up to you to change */
  border-radius: 10px;
}


.footereis {
  width: 8%;
  height: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: black;

  /* centering it */
  float: left; 
  display: block;
  
  /* makes the appearance look more like a card, up to you to change */
  border-radius: 20px;
}
.footerzwei {
  width: 80%;
  height: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  background-color: rgb(255, 255, 255, 0.7);
  
  /* centering it */
  margin: auto 2% auto 2%;
  
  /* makes the appearance look more like a card, up to you to change */
  border-radius: 20px;
}

.footercontainer {
  /* container für Footer */
  width: 95%;
  height: 5%;

  /* centering it */
  position: absolute;
  bottom: 1.75%;
  left: 2.5%;
 
}
.footercontainer div {
  float: left;
  box-sizing: border-box;
 
}
.zwischentitel {
  width: 95%;
  height: 14%;
  
  /* centering it */
  position: absolute;
  top:55%;
  left: 2.5%;
  
  /* makes the appearance look more like a card, up to you to change */
  border-radius: 20px;
}